# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# ENV (IMPORTANT)
# =========================
.env
.env.*
!.env.example

# =========================
# Next.js / React
# =========================
node_modules/
.next/
out/
dist/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Testing / Coverage
# =========================
coverage/

# =========================
# Misc
# =========================
*.swp
*.swo